{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-11 offset-1 mt-2">
            <h2>Shopping Basket ({{ product_count }})</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-1">
            <!-- Displays items in users basket -->
            {% if basket_items %}
                {% for item in basket_items %}
                <div class="row basket-item">
                    <div class="col-4 col-lg-2">
                        {% if item.product.image %}
                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-8 col-lg-10">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <h3 id="basket-item-title">{{ item.product.name }}</h3>
                                <p class="caption">{% if item.product.men_sizes %}
                                    Size: {{ item.size|upper }}
                                    {% elif item.product.ladies_sizes or item.product.kids_sizes or item.product.shoe_sizes or item.product.kids_shoe_sizes %}
                                    Size: {{ item.size }}
                                    {% endif %}
                                </p>
                                <p class="caption">{% if item.product.sku %}SKU: {{ item.product.sku|upper }}{% endif %}</p>
                            </div>
                            <div class="col-12 col-lg-4">
                                <!-- Modified from Batch Coffe details in README -->
                                <form class="form update-form" action="{% url 'adjust_basket' item.item_id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <!-- Quantity selector -->
                                            <select class="form-control form-select mx-auto"
                                                name="quantity" value="{{ item.quantity }}"
                                                data-product_id="{{ item.product.id }}"
                                                id="id_qty_{{ item.product.id }}">
                                                <option value="1" {% if item.quantity == 1 %}selected{% endif %}>1
                                                </option>
                                                <option value="2" {% if item.quantity == 2 %}selected{% endif %}>2
                                                </option>
                                                <option value="3" {% if item.quantity == 3 %}selected{% endif %}>3
                                                </option>
                                                <option value="4" {% if item.quantity == 4 %}selected{% endif %}>4
                                                </option>
                                                <option value="5" {% if item.quantity == 5 %}selected{% endif %}>5
                                                </option>
                                                <option value="6" {% if item.quantity == 6 %}selected{% endif %}>6
                                                </option>
                                                <option value="7" {% if item.quantity == 7 %}selected{% endif %}>7
                                                </option>
                                                <option value="8" {% if item.quantity == 8 %}selected{% endif %}>8
                                                </option>
                                                <option value="9" {% if item.quantity == 9 %}selected{% endif %}>9
                                                </option>
                                                <option value="10" {% if item.quantity == 10 %}selected{% endif %}>10
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <!-- Allows users to update or remove items -->
                                <a class="update-link small mt-2 float-start"
                                    aria-label="Will update quantity of item in basket">Update</a>
                                <a href="#deleteProduct" class="text-danger small mt-2 float-end" data-bs-toggle="modal"
                                    data-bs-target="#deleteProduct"
                                    aria-label="Will remove quantity of item from basket">Remove</a>
                                 <!-- Deletion confirmation Bootstrap modal -->
                                 <div class="modal fade" id="deleteProduct" tabindex="-1"
                                     aria-labelledby="Delete product confirmation modal" aria-hidden="true">
                                     <div class="modal-dialog modal-dialog-centered">
                                         <div class="modal-content">
                                             <div class="modal-header">
                                                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                     aria-label="Close"></button>
                                             </div>
                                             <div class="modal-body">
                                                 <p class="text-center">Are you sure you want to remove {{ item.quantity }} 
                                                     item(s) of {{ item.product.name }} from your basket?</p>
                                             </div>
                                             <div class="modal-footer">
                                                 <button type="button" class="btn btn-sm btn-grey"
                                                     data-bs-dismiss="modal">Cancel</button>
                                                 <a class="remove-item" id="remove_{{ item.item_id }}"
                                                     data-product_size="{{ item.size }}"
                                                     aria-label="Will remove quantity of item from basket">
                                                     <button type="button" class="btn btn-sm btn-danger">Remove</button>
                                                </a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <p class="custom-size">£{{ item.product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                        <div>
                            <p>Your basket is empty</p>

                        </div>
            {% endif %}
        </div>
        <!-- Basket summary -->
        <div class="col-sm-12 col-md-5 col-lg-4">
            <div class="promo-div">
                <p>Free UK delivery on orders over £100</p>
                <p>Order by 9pm for Next Day Delivery</p>
                <p>Free paperless returns</p>
            </div>
            <section class="basket-summary">
                <p>Sub-total: <span class="float-end"> £{{ total|floatformat:2 }}</span></p>
                <p>Delivery: <span class="float-end">£{{ delivery|floatformat:2 }}</span></p>
                <p class="custom-size mt-4">Grand Total: <span class="float-end">£{{ grand_total|floatformat:2 }}</span></p>
            </section>
            {% if free_delivery_delta > 0 %}
            <p>
                Get free delivery if you spend <strong>£{{ free_delivery_delta }}</strong> more!
            </p>
        {% endif %}
        <!-- Action buttons -->
            <a href="{% url 'checkout' %}" class="btn btn-blue basket-buttons">
                <span>Go to secure checkout</span>
                <span>
                    <i class="fa-solid fa-lock"></i>
                </span>
            </a>
            <a href="{% url 'products' %}">
                <button type="button" class="btn btn-grey basket-buttons">Continue shopping</button>
            </a>
        </div>
    </div>

  
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<!-- Used from Boutique Ado -->

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}