html {
    height: 100%;
}

body {
    font-family: 'Akshar';
    color: #000;
}

a {
    text-decoration: none;
}

#logo {
    font-family: 'Source Sans Pro';
    color: #529afe;
    text-transform: lowercase;
    font-weight: 700;
}

.nav-options {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
}

.dropdown-menu {
    border: none;
}

.headings {
    text-transform: uppercase;
}

.hr-decoration {
    position: relative;
    left: -25px;
    width: calc(100% + 50px);
    height: 1px;
}

#delivery-banner {
    background-color: #feb751;
    padding-top: 5px;
}

/* Footer */
footer {
    background-color: #30323d;
    color: #fff;
    padding: 20px;
}

footer a {
    color: #fff;
    margin: 0 3px;
}

footer h4 {
    text-transform: uppercase;
}

/* Gallery */
.gallery img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery-sm-img {
    height: 200px;
    margin-bottom: 20px;
}

.gallery-lg-img {
    height: 420px;
}

.image-container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .image-grid-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image-container:hover .image {
    opacity: 0.4;
  }
  
  .image-container:hover .image-grid-hover {
    opacity: 1;
  }
  
  .text {
      color: #000;
  }

  .text h3 {
      text-transform: lowercase;
      font-family: 'Source Sans Pro';
      color: #529afe;
  }
  

/* Media Queries */
@media (max-width: 425px) {
    .gallery-sm-img {
        height: 100px;
        margin-bottom: 10px;
    }
    
    .gallery-lg-img {
        height: 210px;
    } 
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 134px;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 224px;
    }
}