html {
    height: 100%;
}

body {
    font-family: 'Akshar';
    color: #000;
}

a {
    text-decoration: none;
}

#logo {
    font-family: 'Source Sans Pro';
    color: #529afe;
    text-transform: lowercase;
    font-weight: 700;
}

.nav-options {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
}

.dropdown-menu {
    border: none;
}

.headings {
    text-transform: uppercase;
}

#hr-decoration {
    position: relative;
    left: -25px;
    width: calc(100% + 50px);
    height: 1px;
}

#delivery-banner {
    background-color: #feb751;
    padding-top: 5px;
}

/* Gallery */
.gallery img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery-sm-img {
    height: 200px;
    margin-bottom: 20px;
}

.gallery-lg-img {
    height: 420px;
} 

/* Media Queries */
@media (max-width: 991px) {
    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 224px;
    }
}