    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav">
            <li class="nav-item d-lg-none d-lg-block">
                <a class="nav-link nav-options" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-options" href="#" id="mens-products" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Mens
                </a>
                <div class="dropdown-menu" aria-labelledby="mens-products">
                    <a class="dropdown-item" href="{% url 'products' %}?category=mens_wetsuits,mens_footwear,mens_accessories">All Menswear</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=mens_wetsuits">Wetsuits</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=mens_footwear">Footwear</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=mens_accessories">Accessories</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-options" href="#" id="ladies-products" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Ladies
                </a>
                <div class="dropdown-menu" aria-labelledby="ladies-products">
                    <a class="dropdown-item" href="{% url 'products' %}?category=ladies_wetsuits,ladies_footwear,ladies_accessories">All Ladieswear</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=ladies_wetsuits">Wetsuits</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=ladies_footwear">Footwear</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=ladies_accessories">Accessories</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-options" href="#" id="kids-products" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Kids
                </a>
                <div class="dropdown-menu" aria-labelledby="kids-products">
                    <a class="dropdown-item" href="{% url 'products' %}?category=boys_wetsuits,girls_wetsuits,kids_footwear,kids_accessories">All Kidswear</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=boys_wetsuits">Boys Wetsuits</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=girls_wetsuits">Girls Wetsuits</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=kids_footwear">Footwear</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=kids_accessories">Accessories</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-options" href="#" id="surf-products" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Surf
                </a>
                <div class="dropdown-menu" aria-labelledby="surf-products">
                    <a class="dropdown-item" href="{% url 'products' %}?category=surfboards,surf_equipment">All Surf Kit</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=surfboards">Surfboards</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=surf_equipment">Surf Essentials</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-options" href="{% url 'blogs' %}" id="blog-management" role="button">
                    Blogs
                </a>
            </li>
        </ul>
    </div>
