<ul class="navbar-nav mx-0 d-block d-lg-none">
    <li class="list-inline-item">
        <a class="nav-link dropdown-center d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div><i class="fas fa-search"></i></div>
        </a>
        <div class="dropdown-menu" aria-labelledby="mobile-search">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-$gray-500 rounded search-input" type="text" name="q" placeholder="I am looking for...">
                    <div class="input-group-append">
                        <button type="submit" class="form-control border-0">
                            <span>
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="dropdown list-inline-item dropstart">
        <a class="nav-link d-block d-lg-none" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                <a href="{% url 'add_blog' %}" class="dropdown-item">Add Blog</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </ul>
    </li>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_basket' %}">
            <div class="text-center">
                <div><i class="fas fa-solid fa-shopping-basket"></i><sup>{{ 0 }}</sup></div>
            </div>
        </a>
    </li>
</ul>