{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row custom-margin">
        <div class="col-12 text-center">
            <h2>Blogs</h2>
        </div>
        <!-- Button to allow superusers to create blog posts -->
        {% if request.user.is_superuser %}
            <div class="col-12 mt-2 text-center">
                <a href="{% url 'add_blog' %}" aria-label="Link to add blog page">
                    <button class="btn btn-grey">Add Blog</button>
                </a>
            </div>
        {% endif %}
        <!-- Iterate through blog posts and display -->
        {% if blog|length > 0 %}
        <div class="blog-posts">
            {% for post in blog %}
            <div class="blog-post">
                {% if post.image %}
                <a href="{% url 'blog_detail' post.id %}" aria-label="Link to blog post page">
                    <div class="blog-img-container">
                        <img src="{{ post.image.url }}" class="blog-post-img" alt="{{ post.blog_title }}">
                    </div>
                    <h3 class="blog-info">{{ post.blog_title }}</h3>
                    <p class="blog-info">{{ post.date_created }}</p>
                    <!-- Superuser edit and delete links -->
                    {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_blog' post.id %}" aria-label="Link to edit blog page">Edit</a>
                        <a href="#deleteBlog" class="text-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteBlog" aria-label="Link to deletion confirmation modal">Delete</a>
                    </small>
                    <!-- Deletion confirmation Bootstrap modal -->
                    <div class="modal fade" id="deleteBlog" tabindex="-1" aria-labelledby="Delete blog confirmation modal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center">Are you sure you want to delete {{ post.blog_title }} blog?</p>
                                  </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-grey" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_blog' post.id %}" aria-label="Link to delete blog">
                                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </a>
                {% else %}
                <!-- If blog has no image -->
                <a href="{% url 'blog_detail' post.id %}" aria-label="Link to blog post page">
                    <div class="blog-img-container">
                        <img src="{{ MEDIA_URL }}noimage.png" class="blog-post-img" alt="{{ post.blog_title }}">
                    </div>
                    <h3 class="blog-info">{{ post.blog_title }}</h3>
                    <p class="blog-info">{{ post.date_created }}</p>
                     <!-- Superuser edit and delete links -->
                    {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_blog' post.id %}" aria-label="Link to edit blog page">Edit</a>
                        <a href="#deleteBlog" class="text-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteBlog" aria-label="Link to deletion confirmation modal">Delete</a>
                    </small>
                    <!-- Deletion confirmation Bootstrap modal -->
                    <div class="modal fade" id="deleteBlog" tabindex="-1" aria-labelledby="Delete blog confirmation modal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center">Are you sure you want to delete {{ post.blog_title }} blog?</p>
                                  </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-grey" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_blog' post.id %}" aria-label="Link to delete blog">
                                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </a>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
