{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2>{{ blog.blog_title }}</h2>
            <p class="caption mt-2">{{ blog.date_created }} by {{ blog.author }} </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            {% if blog.image %}
            <img src="{{ blog.image.url }}" class="img-fluid" alt="{{ blog.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" alt="{{ blog.name }}">
            {% endif %}
            <div class="mt-2 float-end">
                {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_blog' blog.id %}">Edit</a>
                        <a href="{% url 'delete_blog' blog.id %}" class="text-danger">Delete</a>
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <p>{{ blog.blog_content }}</p>
            <a href="{% url 'blogs' %}">
                <button class="btn btn-blue">Back to blogs</button>
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h3>Comments</h3>
            {% for comment in comments %}
                <div class="comments">
                    <p>{{ comment.blog_comment }}</p>
                    <small class="caption float-end">{{ comment.author }} {{ comment.date_added }}</small>
                    {% if request.user == comment.author or request.user.is_superuser %}
                        <small>
                            <a href="{% url 'edit_blog_comment' comment.id %}">
                                Edit
                            </a>
                            <a href="{% url 'delete_blog_comment' comment.id %}" class="text-danger">Delete</a>
                        </small>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            {% if request.user.is_authenticated %}
            <form action="{% url 'blog_detail' blog.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <div class="text-center">
                    <button class="btn btn-blue" type="submit" >Add comment</button>
                    <a href="{% url 'blog_detail' blog.id %}">
                        <button class="btn btn-outline-grey" type="button">Cancel</button>
                    </a>
                </div>
            </form>
            {% endif %}
        </div>
      
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}
