{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2>{{ blog.blog_title }}</h2>
            <p class="caption mt-2">{{ blog.date_added }} by {{ blog.author }} </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            {% if blog.image %}
            <img src="{{ blog.image.url }}" class="img-fluid" alt="{{ blog.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" alt="{{ blog.name }}">
            {% endif %}
            <div class="mt-2 float-end">
                {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_blog' blog.id %}">Edit</a>
                        <a href="#deleteBlog" class="text-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteBlog">Delete</a>
                    </small>
                    <!-- Deletion confirmation Bootstrap modal -->
                    <div class="modal fade" id="deleteBlog" tabindex="-1" aria-labelledby="Delete blog confirmation modal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center">Are you sure you want to delete {{ post.blog_title }} blog?</p>
                                  </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-grey" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_blog' blog.id %}" class="text-danger">
                                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <p class="mb-5">{{ blog.blog_content_one }}</p>

            {% if blog.blog_content_two %}
            <p class="mb-5">{{ blog.blog_content_two }}</p>
            {% endif %}

            {% if blog.blog_content_three %}
            <p class="mb-5">{{ blog.blog_content_three }}</p>
            {% endif %}
            <a href="{% url 'blogs' %}" class="float-end">
                <button class="btn btn-sm btn-grey">Back to blogs</button>
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h3>Comments</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Username</th>
                        <th scope="col">Comment</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                        <tr>
                            <th scope="row">{{ comment.date_added }}</th>
                            <td>{{ comment.author }}</td>
                            <td>{{ comment.blog_comment }}</td>
                            <td class="icons">{% if request.user == comment.author %}
                                <a href="{% url 'edit_blog_comment' comment.id %}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                {% endif %}
                            </td>
                            <td class="icons">{% if request.user == comment.author or request.user.is_superuser %}
                                <a href="#deleteComment" data-bs-toggle="modal" data-bs-target="#deleteComment">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                                <!-- Deletion confirmation Bootstrap modal -->
                                <div class="modal fade" id="deleteComment" tabindex="-1"
                                    aria-labelledby="Delete comment confirmation modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-center">Are you sure you want to delete your comment?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-grey"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <a href="{% url 'delete_blog_comment' comment.id %}" class="text-danger">
                                                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
           
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
            {% if request.user.is_authenticated %}
            <form action="{% url 'blog_detail' blog.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <div class="text-center">
                    <button class="btn btn-blue" type="submit" >Add comment</button>
                    <a href="{% url 'blog_detail' blog.id %}">
                        <button class="btn btn-grey" type="button">Cancel</button>
                    </a>
                </div>
            </form>
            {% endif %}
        </div>
      
    </div>
</div>
{% endblock %}

