{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>{{ blog.blog_title }}</h2>
        </div>
    </div>

        <div class="row mt-2">

            <div class="col-12">
                <div>
                    {% if blog.image %}
                        <img src="{{ blog.image.url }}" class="img-fluid" alt="{{ blog.name }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" alt="{{ blog.name }}">
                    {% endif %}
                </div>
                <div>
                    <p>{{ blog.blog_content }}</p>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Comments</h4>
                <p>Check out our blog comments!</p>
            </div>
            <div class="col-12">
            </div>
        </div>
</div>
{% endblock %}

