{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Edit Comment</h2>
        </div>
    </div>
    <div class="row mt-3 custom-margin">
        <!-- Edit blog comment form -->
        <div class="col-12 col-md-6 offset-md-3">
                <form id="edit-comment" action="{% url 'edit_blog_comment' comment.id %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn btn-blue" type="submit" >Update comment</button>
                        <a href="{% url 'blog_detail' blog.id %}" class="btn btn-grey"  aria-label="Link to cancel edit comment form">
                            Cancel
                        </a>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}
