{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Error message and link back to home page -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-3">Ooops page not found</h2>
            <a href="{% url 'home' %}" class="btn btn-blue action-buttons" aria-label="Link back to home page">Back to home page</a>

            <!-- Report issue button -->
            <a href="{% url 'contact' %}" class="btn btn-grey action-buttons" aria-label="Link to contact page">Report an issue</a>
        </div>
    </div>
</div>

{% endblock %}
