{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Product Management</h2>
        </div>
        <div class="col-12 mt-3">
            <h3 class="text-center">Add a Product</h3>
        </div>
    </div>
    <div class="row mt-3 custom-margin">
        <!-- Add product form -->
        <div class="col-12 col-md-6 offset-md-3">
            <form action="{% url 'add_product' %}" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button class="btn btn-blue" type="submit" >Create</button>
                    <a href="{% url 'products' %}" aria-label="Link to products page">
                        <button class="btn btn-grey" type="button">Cancel</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
