{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Products</h2>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div>
                    <h3 class="text-center mb-3">{{ product.name }}</h3>
                    <p>£{{ product.price }}</p>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}