{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="mb-3">Products</h2>
            {% for c in current_categories %}
            <a href="{% url 'products' %}?category={{ c.name }}" aria-label="Link to category products page"
                class="category-badge text-decoration-none">
                <span class="p-3 m-1 badge bg-light text-dark custom-badge">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="row mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select border">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort
                                by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)
                            </option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}" aria-label="Link to products page"
                                id="all-products">All Products</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        "{{ search_term }}"{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="row custom-margin">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" aria-label="Link to product detail page">
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}" aria-label="Link to product detail page">
                            <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <a href="{% url 'product_detail' product.id %}" aria-label="Link to product detail page">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p>£{{ product.price }}</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Superuser edit and delete links -->
                                    {% if request.user.is_superuser %}
                                    <small>
                                        <a href="{% url 'edit_product' product.id %}"
                                            aria-label="Link to edit product page">
                                            <button class="btn btn-sm text-primary">
                                                Edit
                                            </button>
                                        </a>
                                        <button type="button" data-bs-toggle="modal" class="text-danger btn btn-sm"
                                            data-bs-target="#deleteModal" data-id="{{ product.id }}"
                                            data-url="{% url 'delete_product' product.id %}"
                                            aria-label="Link to deletion confirmation modal">
                                            Delete
                                        </button>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Deletion confirmation Bootstrap modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1"
                    aria-labelledby="productId" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Are you sure you want to delete this product? <span id="productId"></span>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-grey"
                                    data-bs-dismiss="modal">Cancel</button>
                                <a href="" id="actualDeleteBtn" class="btn btn-sm btn-danger" aria-label="Link to delete product">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Sorts products selector 
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });

    // Used from Stack Overflow, details in README
    $('#deleteModal').on('shown.bs.modal', function (event) {
        $("#productId").text($(event.relatedTarget).data('id'));
        $("#actualDeleteBtn").attr('href', $(event.relatedTarget).data('url'));
    });
</script>
{% endblock %}